.bio
  position: relative
  float: left
  width: 48%
  padding-bottom: 32px
.press
  position: relative
  float: right
  width: 48%
  padding-bottom: 32px
.subtitle
  height: 48px
.icons
  display: inline-block
  position: absolute
  margin-left: 10px
  margin-top: 1px

.bio_text, .press_text
  text-align: left
.press_title
  font-weight: bold
.press_link
  margin-bottom: 10px
.press_add_form
  text-align: left
  margin-bottom: 10px
  input
    display: block
    margin: 4px 0





