*
  box-sizing: border-box
body
  margin: 0
main
  width: 70%
  min-width: 500px
  border: 2px solid black
  margin-top: 10px
  padding: 5px 5px 30px 5px
  text-align: center
  overflow: auto
  position: relative
  left: 50%
  right: 50%
  transform: translate(-50%)
.subtitle
  font-size: 24px
  padding: 10px
.field
  margin: 10px