.title_and_nav
  .title
    MAL DEVISA
  .nav_menu
    =link_to 'Home', root_path
    =link_to 'About/Press', about_show_path
    =link_to 'Music/Video', music_show_path
    =link_to 'Gallery', gallery_index_path
    =link_to 'Contact', contact_show_path