.social_bar
  -if current_admin
    .logout_link
      =link_to 'LOG OUT', destroy_admin_session_path, :method => :delete
  .music_player
    <iframe style="border: 0; width: 100%; height: 42px;" src="http://bandcamp.com/EmbeddedPlayer/album=1101997837/size=small/bgcol=333333/linkcol=e99708/transparent=true/" seamless><a href="http://maldevisa.bandcamp.com/album/4u-2">4U by Mal Devisa</a></iframe>
  .social_link
    = link_to image_tag('instagram32.png'), 'https://instagram.com/maldevisa/', :target => '_blank'
  .social_tooltip
    Instagram
  .social_link
    = link_to image_tag('twitter32.png'), 'https://twitter.com/Maldevisa', :target => '_blank'
  .social_tooltip
    Twitter
  .social_link
    = link_to image_tag('facebook32.png'), 'https://www.facebook.com/MalDevisa', :target => '_blank'
  .social_tooltip
    Facebook
