.social_bar
  .social_link
    = link_to image_tag('instagram32.png'), 'https://instagram.com/maldevisa/'
  .social_tooltip
    Instagram
  .social_link
    = link_to image_tag('twitter32.png'), 'https://twitter.com/Maldevisa'
  .social_tooltip
    Twitter
  .social_link
    = link_to image_tag('facebook32.png'), 'https://www.facebook.com/MalDevisa'
  .social_tooltip
    Facebook
